<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="${base}/lib/html5.js?now=$dateUtils.getNow()"></script>
<script type="text/javascript" src="${base}/lib/respond.min.js?now=$dateUtils.getNow()"></script>
<script type="text/javascript" src="${base}/lib/PIE_IE678.js?now=$dateUtils.getNow()"></script>
<![endif]-->
<link href="${base}/css/H-ui.min.css?now=$dateUtils.getNow()" rel="stylesheet" type="text/css" />
<link href="${base}/css/H-ui.admin.css?now=$dateUtils.getNow()" rel="stylesheet" type="text/css" />

<link href="${base}/lib/Hui-iconfont/1.0.1/iconfont.css?now=$dateUtils.getNow()" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="${base}/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>资讯列表</title>
</head>
#set($msg = $request.getAttribute("msg"))
#set($recordList = $obj.recordList)
#set($pager = $obj.pager)
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>资讯管理 <span class="c-gray en">&gt;</span> 资讯列表 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:refresh();" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
	<div class="text-r">
		<form action="news_list" method="post">
			页面过滤:
			<select id="first" class="select-box" style="width:120px;">
			  	<option value="0">--请选择--</option>
				#foreach($page_obj in $adminUtils.getAllPages())
					<option value="$page_obj.id">$page_obj.remark</option>
				#end			  	
		    </select>
		  	<select id="second" class="select-box" style="width:120px;"></select>
		  	#foreach($page_obj in $adminUtils.getAllPages())
		  		<input id="${page_obj.id}_relateIds" type="hidden" value="$adminUtils.getRelateIdsByPageId($page_obj.id,2)">
		  		#foreach($module_obj in $adminUtils.getAllModuleByPageId($page_obj.id,2))
		  			<input id="${page_obj.id}_${module_obj.id}_relateIds" type="hidden" value="$adminUtils.getRelateIdsByModuleId($module_obj.id)">
		  		#end
		  	#end
		  	<input id="relateIds" type="hidden" name="relateIds">
			更新时间：
			<input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}'})" id="datemin" name="datemin" class="input-text Wdate" style="width:120px;">
			-
			<input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d'})" id="datemax" name="datemax" class="input-text Wdate" style="width:120px;">
			<input type="text" class="input-text" style="width:250px" placeholder="输入标题" id="" name="keyword">
			<button type="submit" class="btn btn-success" id=""><i class="Hui-iconfont">&#xe665;</i> 搜资讯</button>
		</form>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="javascript:delNewsMany();" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a href="javascript:;" onclick="news_add('添加资讯','add_news.html')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加资讯</a></span> <span class="r">共有数据：<strong>$pager.recordCount</strong> 条</span> </div>
	<table class="table table-border table-bordered table-bg table-hover">
		<thead>
			<tr>
				<th scope="col" colspan="7">资讯列表</th>
			</tr>
			<tr class="text-c">
				<th width="25"><input id="chkAll" type="checkbox" value=""></th>
				<th width="40">ID</th>
				<th width="150">标题</th>
				<th width="100">备注</th>
				<th width="100">创建时间</th>
				<th width="150">更新时间</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
			#foreach($news_obj in $recordList)
			<tr class="text-c">
				<td><input type="checkbox" name="newsId" value="${news_obj.id}" ></td>
				<td>$!{news_obj.id}</td>
				<td>$!{news_obj.title}</td>
				<td>$!{news_obj.remark}</td>
				<td>$dateUtils.format($!{news_obj.createTime})</td>
				<td>$dateUtils.format($!{news_obj.updateTime})</td>
				<td class="td-manage">
					<a title="编辑" href="javascript:;" onclick="news_edit('资讯编辑','update_news.html','$!{news_obj.id}')" class="ml-6" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a title="删除" href="javascript:;" onclick="news_del(this,'${news_obj.id}')" class="ml-6" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
				</td>
			</tr>
			#end
		</tbody>
		<thead>
			<tr>
				<td scope="col" colspan="7" style="text-align: center;">
					#set($curPage = ${pager.pageNumber})
					#if($pager.pageCount <= 1 && $pager.pageNumber == 1)
						<a class="btn btn-primary radius">首页</a>
					#else
						<a href="javascript:;" onclick="javascript:goPage(1,${pager.pageSize});" class="btn btn-primary radius">首页</a>
					#end
					
					#if($pager.pageCount > 1 && $pager.pageNumber > 1)
						&nbsp;&nbsp;
						#set($curPage = ${pager.pageNumber} - 1)
						<a href="javascript:;" onclick="javascript:goPage($curPage,${pager.pageSize});" class="btn btn-primary radius">上一页</a>
					#end
					
					#if($pager.pageCount >1 && $pager.pageNumber != $pager.pageCount)
						&nbsp;&nbsp;
						#set($curPage = ${pager.pageNumber} + 1)
						<a href="javascript:;" onclick="javascript:goPage($curPage,${pager.pageSize});" class="btn btn-primary radius">下一页</a>
					#end
					&nbsp;&nbsp;
					#if($pager.pageNumber == $pager.pageCount)
						<a class="btn btn-primary radius">尾页</a>
					#elseif($pager.pageCount > 1)
						<a href="javascript:;" onclick="javascript:goPage($pager.pageCount,$pager.pageSize);" class="btn btn-primary radius">尾页</a>
					#end
					&nbsp;&nbsp;
					<a class="btn btn-primary radius" style="text-decoration: none;">当前第&nbsp;$pager.pageNumber&nbsp;页&nbsp;&nbsp;共&nbsp;$pager.pageCount&nbsp;页<a>
				</td>
			</tr>
		</thead>
	</table>
</div>
<script type="text/javascript" src="${base}/lib/jquery/1.9.1/jquery.min.js?now=$dateUtils.getNow()"></script>  
<script type="text/javascript" src="${base}/lib/layer/1.9.3/layer.js?now=$dateUtils.getNow()"></script> 
<script type="text/javascript" src="${base}/lib/laypage/1.2/laypage.js?now=$dateUtils.getNow()"></script> 
<script type="text/javascript" src="${base}/lib/My97DatePicker/WdatePicker.js?now=$dateUtils.getNow()"></script> 
<script type="text/javascript" src="${base}/js/H-ui.js?now=$dateUtils.getNow()"></script> 
<script type="text/javascript" src="${base}/js/H-ui.admin.js?now=$dateUtils.getNow()"></script> 
<script type="text/javascript">
$(function(){
	$("#chkAll").click(function(e) {
    	$("input[name='pageId']").prop("checked", $(this).prop("checked"));
    });
    $("input[name='pageId']").click(function() {
    	var state = true;
    	$("input[name='pageId']").each(function(index, element) {
    		if (!($(this).prop("checked"))) {
    			state = false;
    		}
    	});
    	$("#chkAll").prop("checked", state);
    });
    
    if($("#first").val() == 0){
		$("#second").prop("disabled","disabled");
	}else{
		$("#second").prop("disabled","");
	}
	$("#first").change(function() {
		if($("#first").val() != 0){
			$("#second").prop("disabled","");
			addOption($("#first").val());
		}else{
			$("#second").empty();
			$("#second").prop("disabled","disabled");
		}
		confirmRelateIds();
	});
	$("#second").change(function() {
		confirmRelateIds();
	});
});

function addOption(firstOptVal){
	$("#second").empty();
	$("#second").append("<option value='0'>--请选择--</option>");
	var pageId = "";
	#foreach($p_obj in $adminUtils.getAllPages())
		pageId = "$p_obj.id";
		if(pageId == firstOptVal){
			#foreach($m_obj in $adminUtils.getAllModuleByPageId($p_obj.id,2))
				$("#second").append("<option value='$m_obj.id'>$m_obj.strFlag</option>");
			#end
		}
	#end
}
function confirmRelateIds(){
	if($("#first").val() == 0){
		$("#relateIds").val("");
	}else{
		if($("#second").val() == 0){//没选模块，只查看页面关联元素
			var pageId = $("#first").val();
			var relateIds = $("#"+pageId+"_relateIds").val();
			$("#relateIds").val(relateIds);
		}else{//选了页面也选了对应模块，查看关联元素
			var pageId = $("#first").val();
			var moduleId = $("#second").val();
			var relateIds = $("#"+pageId+"_"+moduleId+"_relateIds").val();
			$("#relateIds").val(relateIds);
		}
	}
}

/*资讯-添加*/
function news_add(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
function news_edit(title,url,id){
	url = url + "?newsId=" + id;
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*管理员-删除*/
function news_del(obj,delId){
	if(confirm('确认要删除吗？')){
		$.ajax({
			type: 'POST',
			data: {
				"delId":delId,
			},
			url: 'deleteNews',
            success: function (status) { 
            	if(200 == status){
            		alert("删除成功!");
            		refresh();
            	}else{
            		alert("删除失败!");
            	}
            	
            }
        });
	}
}

function delNewsMany(){
	var newsIds = "";
	$("input[name='newsId']").each(function(index, element) {
		if ($(this).prop("checked")) {
			newsIds = newsIds+$(this).val()+","; 
		}
	});
	if("" != newsIds){
		newsIds = newsIds.substring(0,newsIds.length-1);
		if(confirm('确认要删除吗？')){
			$.ajax({
				type: 'POST',
				data: {
					"newsIds":newsIds,
				},
				url: 'deleteMoreNews',
	            success: function (status) { 
	            	if(200 == status){
	            		alert("删除成功!");
	            		refresh();
	            	}else{
	            		alert("删除失败!");
	            	}
	            	
	            }
	        });
		}
	}else{
		alert("未选择任何id!");
	}
	
}


function refresh(){
	var temp = document.createElement("form");        
    temp.action = "news_list";        
    temp.method = "post";        
    temp.style.display = "none";
    var params = {"curPage":'$!pager.pageNumber',"pageSize":'$!pager.pageSize',"datemin":'$!{p.datemin}',"datemax":'$!{p.datemax}',"keyword":'$!{p.keyword}',"relateIds":'$!p.relateIds'};
    for (var x in params) {
        var opt = document.createElement("textarea");        
        opt.name = x;        
        opt.value = params[x];
        temp.appendChild(opt);        
    }
    document.body.appendChild(temp);        
    temp.submit();  
}

function goPage(curPage,pageSize) {
    var temp = document.createElement("form");        
    temp.action = "news_list";        
    temp.method = "post";        
    temp.style.display = "none";
    var params = {"curPage":'$!pager.pageNumber',"pageSize":'$!pager.pageSize',"datemin":'$!{p.datemin}',"datemax":'$!{p.datemax}',"keyword":'$!{p.keyword}',"relateIds":'$!p.relateIds'};
    for (var x in params) {
        var opt = document.createElement("textarea");        
        opt.name = x;        
        opt.value = params[x];
        temp.appendChild(opt);        
    }
    document.body.appendChild(temp);        
    temp.submit();        
}
</script>
</body>
</html>