<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于贡茶</title>
    <link type="text/css" rel="stylesheet" href="${base}/css/screen.css"/>
    <link type="text/css" rel="stylesheet" href="${base}/css/common.css"/>
    <link type="text/css" rel="stylesheet" href="${base}/css/about.css"/>
    <script type="text/javascript" src="${base}/js/jquery.min.js"></script>
    <script type="text/javascript" src="${base}/js/jquery.slide.js"></script>
    <script type="text/javascript" src="${base}/js/index.js"></script>
</head>
#set($all_module = $obj)
<body>
<div class="doc">
    <div class="wrapper">
		<div class="header">
            <div class="inner">
            	#set($logo = $adminUtils.getCommonLogo())
                <a class="lay-a" href="#" title="${logo.ext1}" target="_blank">
                    <img src="${base}${logo.path}" width="120" height="90">
                </a>
                
                <div class="lay-b">
					#set($navs = $adminUtils.getCommonNav())
                    #foreach($nav in $navs)
						<a class="item" href="${base}${nav.linkUrl}" title="${nav.name}" target="_blank">
                            <label class="tit">${nav.name}</label>
                            <label class="desc">${nav.ext1}</label>
                        </a>
					#end
                </div>
            </div>
        </div>

        <div class="banner">
            <div id="JSlide1" class="slide1">
				#set($shuffs = $adminUtils.getCommonPicture())
                <ul class="pics">
					 #foreach($shuff in $shuffs)
						<li>
                            <img src="${base}${shuff.path}" alt=" " width="1920" height="500"/>
                        </li>
					 #end
                </ul>
                <a id="prev1" class="btn1 png_bg" href="javascript:void(0);"></a>
                <a id="next1" class="btn2 png_bg" href="javascript:void(0);"></a>
                <div id="JTab1" class="tab1">
                    <a class="ctrl" href="javascript:void(0);"></a>
                    <a class="ctrl" href="javascript:void(0);"></a>
                    <a class="ctrl" href="javascript:void(0);"></a>
                </div>
            </div>
        </div>
        <div class="area1">
            <div class="inner">
                <div class="lay-a">
                    <label class="txt">当前位置：</label>
                    <a href="#" target="_blank" title="贡茶">贡茶</a>
                    &gt;
                    <a href="#" target="_blank" title="关于贡茶">关于贡茶</a>
                </div>
                #set($tea_pic_module = $all_module.get("about_mid_rg_pic"))
                #set($tea_pic = $adminUtils.getPictureList(${tea_pic_module.relateIds}).get(0))
                <a class="lay-b" href="#" target="_blank" title="贡茶">
                    <img src="${base}${tea_pic.path}" width="390" height="80"/>
                </a>
            </div>
        </div>

        <div class="area2">
            <div class="inner">
            	#set($about_tea_module = $all_module.get("about_news"))
                #set($tea_news = $adminUtils.getNewsList(${about_tea_module.relateIds}).get(0))
                <div class="lay">
                    <label class="tit">${tea_news.title}</label>
                    ${tea_news.content}
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="inner">
                <select class="link">
                    <option>友情链接</option>
					#set($friends = $adminUtils.getCommonFriendLink())
					#foreach($friend in $friends)
                    <option value="$friend.linkUrl" target="_blank">$friend.name</option>
					#end
                </select>
                <label class="txt">@2014-2015</label>
                <a class="sub-link" href="#" target="_blank">加盟官方网站</a>
                <label class="txt">版权所有</label>
                <a class="sub-link" href="#" target="_blank">站长统计</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>