<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>贡茶</title>
    <link type="text/css" rel="stylesheet" href="${base}/css/screen.css"/>
    <link type="text/css" rel="stylesheet" href="${base}/css/common.css"/>
    <link type="text/css" rel="stylesheet" href="${base}/css/index.css"/>
    <script type="text/javascript" src="${base}/js/jquery.min.js"></script>
    <script type="text/javascript" src="${base}/js/jquery.slide.js"></script>
    <script type="text/javascript" src="${base}/js/index.js"></script>
</head>
#set($all_module = $obj)
<body>
<div class="doc">
    <div class="wrapper">

        <div class="header">
            <div class="inner">
            	#set($logo = $adminUtils.getCommonLogo())
                <a class="lay-a" href="#" title="${logo.ext1}" target="_blank">
                    <img src="${base}${logo.path}" width="120" height="90">
                </a>
                
                <div class="lay-b">
					#set($navs = $adminUtils.getCommonNav())
                    #foreach($nav in $navs)
						<a class="item" href="${base}${nav.linkUrl}" title="${nav.name}" target="_blank">
                            <label class="tit">${nav.name}</label>
                            <label class="desc">${nav.ext1}</label>
                        </a>
					#end
                </div>
            </div>
        </div>

        <div class="banner">
            <div id="JSlide1" class="slide1">
				#set($shuffs = $adminUtils.getCommonPicture())
                <ul class="pics">
					 #foreach($shuff in $shuffs)
						<li>
                            <img src="${base}${shuff.path}" alt=" " width="1920" height="500"/>
                        </li>
					 #end
                </ul>
                <a id="prev1" class="btn1 png_bg" href="javascript:void(0);"></a>
                <a id="next1" class="btn2 png_bg" href="javascript:void(0);"></a>
                <div id="JTab1" class="tab1">
                    <a class="ctrl" href="javascript:void(0);"></a>
                    <a class="ctrl" href="javascript:void(0);"></a>
                    <a class="ctrl" href="javascript:void(0);"></a>
                </div>
            </div>
        </div>

        <div class="area1">
            <div class="inner">
				#set($mid_news_module = $all_module.get("index_mid_news"))
				#set($mid_news = $adminUtils.getNewsList(${mid_news_module.relateIds}).get(0))
                <div class="lay-a">
                    <label class="tit">${mid_news.title}</label>
                </div>
                <div class="lay-b">
                    <div class="part-a">
                        <label class="tit">${mid_news_module.ext1}</label>
                        <p class="desc">
							${mid_news.content}
                        </p>
                    </div>
					#set($mid_pic_module = $all_module.get("index_mid_pic"))
					#set($mid_pics = $adminUtils.getPictureList(${mid_pic_module.relateIds}))
                    <div class="part-b">
						#foreach($mid_pic in $mid_pics)
                        <img class="item" src="${base}${mid_pic.path}" width="185" height="185"/>
						#end
                    </div>
                </div>
            </div>
        </div>

        <div class="area2">
			#set($mid_shuff_module = $all_module.get("index_mid_shuff"))
			#set($mid_shuffs = $adminUtils.getPictureList(${mid_shuff_module.relateIds}))
            <div class="inner">
                <h3>${mid_shuff_module.ext1}</h3>
                <div id="JSlide2" class="slide2">
                    <ul>
						#foreach($mid_shuff in $mid_shuffs)
							<li class="item">
                                <img src="${base}${mid_shuff.path}" width="285" height="295"/>
                            </li>
						#end
                    </ul>
                </div>
            </div>
        </div>

        <div class="area3">
            <div class="inner">
				#set($mid_buttom_news_module = $all_module.get("index_mid_buttom_news"))
				#set($mid_buttom_news = $adminUtils.getNewsList(${mid_buttom_news_module.relateIds}).get(0))
				#set($mid_buttom_pic_module = $all_module.get("index_mid_buttom_pic"))
				#set($mid_buttom_pics = $adminUtils.getPictureList(${mid_buttom_pic_module.relateIds}))
                <div class="lay-a">
                    <label>${mid_buttom_news.title}</label>
                </div>
                <p class="lay-b">
					${mid_buttom_news.content}
                </p>
                <div class="lay-c">
					#foreach($mid_buttom_pic in $mid_buttom_pics)
                    <div class="part">
                        <img src="${base}${mid_buttom_pic.path}" width="60" height="60"/>
                        <label class="tit">${mid_buttom_pic.ext1}</label>
                        <label class="desc">${mid_buttom_pic.ext2}</label>
                    </div>
					#end
                </div>
            </div>
        </div>

        <div class="area4">
            <div class="inner">
                <div class="lay-a">
                    <label class="tit">最新资讯</label>
					#set($bottom_left_module = $all_module.get("index_buttom_left"))
                    #set($bottom_left_news = $adminUtils.getNewsList(${bottom_left_module.relateIds}))
					<ul>
						#foreach($bottom_left_new in $bottom_left_news)
							<li class="item #if($velocityCount < 3) top #end">
                               <a href="#" target="_blank" title="$bottom_left_new.title">
                                   <label class="txt">$bottom_left_new.title</label>
                                   <label class="time">$dateUtils.format($bottom_left_new.updateTime,"MM-dd")</label>
                               </a>
                            </li>
						#end
                    </ul>
                </div>

                <div class="lay-b">
					#set($bottom_rig_pics_module = $all_module.get("index_buttom_right_pic"))
                    #set($bottom_rig_pics = $adminUtils.getPictureList(${bottom_rig_pics_module.relateIds}))
					#set($bottom_rig_news_module = $all_module.get("index_buttom_right_news"))
                    #set($bottom_rig_news = $adminUtils.getNewsList(${bottom_rig_news_module.relateIds}))
                    <label class="tit">最新资讯</label>
                    <div class="part">
						#set($bottom_rig_pic1 = $bottom_rig_pics.get(0))
                        <img src="${base}${bottom_rig_pic1.path}" width="150" height="100"/>
                        #set($bottom_rig_new1 = $bottom_rig_news.get(0))
						<div class="cont">
                            <label class="cont-tit">$bottom_rig_new1.title</label>
                            <p class="desc">
								$bottom_rig_new1.content
                            </p>
                        </div>
                    </div>
                    <div class="part">
						#set($bottom_rig_pic2 = $bottom_rig_pics.get(1))
                        <img src="${base}${bottom_rig_pic2.path}" width="150" height="100"/>
                         #set($bottom_rig_new2 = $bottom_rig_news.get(1))
						<div class="cont">
                            <label class="cont-tit">$bottom_rig_new2.title</label>
                            <p class="desc">
								$bottom_rig_new2.content
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="inner">
                <select class="link">
                    <option>友情链接</option>
					#set($friends = $adminUtils.getCommonFriendLink())
					#foreach($friend in $friends)
                    <option value="$friend.linkUrl" target="_blank">$friend.name</option>
					#end
                </select>
                <label class="txt">@2014-2015</label>
                <a class="sub-link" href="#" target="_blank">加盟官方网站</a>
                <label class="txt">版权所有</label>
                <a class="sub-link" href="#" target="_blank">站长统计</a>
            </div>
        </div>
    </div>

    <div class="floatIcon" id="world_D02_30">
        <div class="fi-box">
            <a href="javascript:void();" class="r2">
                <div class="td">
                    <i></i>
                    <img src="http://dummyimage.com/80x80/B5E61D/fff" alt=" " width="80" height="80"/>
                    <p>微信服务号</p>
                </div>
            </a>
        </div>

        <div class="fi-box">
            <a href="#" class="r4">
                <div class="td">
                    <i></i>
                    <p>加盟热线：</p>
                    <p>400-890-8753</p>
                </div>
            </a>
        </div>

        <div class="fi-box">
            <a href="#" class="r5">
                <div class="td"><i></i>haiwai@xx.com</div>
            </a>
        </div>

        <div class="fi-box">
            <a href="javascript:void();" class="r6" id="to_top"></a>
        </div>
    </div>
</div>
</body>
</html>