<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>申请加盟</title>
    <link type="text/css" rel="stylesheet" href="${base}/css/screen.css"/>
    <link type="text/css" rel="stylesheet" href="${base}/css/common.css"/>
    <link type="text/css" rel="stylesheet" href="${base}/css/fe-apply.css"/>
</head>
<body>
<div class="doc">
    <div class="wrapper">
        <div class="header">
            <div class="inner">
                #set($logo = $adminUtils.getCommonLogo())
                <a class="lay-a" href="#" title="${logo.ext1}" target="_blank">
                    <img src="${base}${logo.path}" width="120" height="90">
                </a>
                
                <div class="lay-b">
                    #set($navs = $adminUtils.getCommonNav())
                    #foreach($nav in $navs)
                        <a class="item" href="${base}${nav.linkUrl}" title="${nav.name}" target="_blank">
                            <label class="tit">${nav.name}</label>
                            <label class="desc">${nav.ext1}</label>
                        </a>
                    #end
                </div>
            </div>
        </div>

        <div class="banner">
            <div id="JSlide1" class="slide1">
                #set($shuffs = $adminUtils.getCommonPicture())
                <ul class="pics">
                     #foreach($shuff in $shuffs)
                        <li>
                            <img src="${base}${shuff.path}" alt=" " width="1920" height="500"/>
                        </li>
                     #end
                </ul>
                <a id="prev1" class="btn1 png_bg" href="javascript:void(0);"></a>
                <a id="next1" class="btn2 png_bg" href="javascript:void(0);"></a>
                <div id="JTab1" class="tab1">
                    <a class="ctrl" href="javascript:void(0);"></a>
                    <a class="ctrl" href="javascript:void(0);"></a>
                    <a class="ctrl" href="javascript:void(0);"></a>
                </div>
            </div>
        </div>

        <div class="area1">
            <div class="inner">
                <div class="form">
                    <p class="desc">
                                                    留言将成为您成功投资的一个好开始，留言成功后，负责人将会在24小时之内答复您，使您对此项目获得更多了解。
                    </p>
                    <form id="form" action="applyJoin" method="post">
                        <span class="item">
                            <label class="txt">
                                <label class="star">*</label>
                                                                                    姓名:
                            </label>
                            <input id="name" name="name" placeholder="请输入您的姓名"/>
                        </span>
                        <span class="item">
                            <label class="txt">
                                <label class="star">*</label>
                                                                                    联系电话:
                            </label>
                            <input id="phone" name="phone" placeholder="请输入您的常用手机号码"/>
                        </span>
                        <span class="item">
                            <label class="txt">
                                <label class="star">*</label>
                                                                                   地址:
                            </label>
                            <input id="address" name="address" placeholder="请输入您的常用地址"/>
                        </span>
                        <span class="item">
                            <textarea id="remark" name="remark" rows cols= placeholder="请输入您的留言内容，我们将会在24小时内联系到您！"></textarea>
                        </span>
                        <span class="item item-button">
                            <button class="sub" type="button" onclick="javascript:checkData();">提交</button>
                            <button class="res" type="reset">重置</button>
                        </span>
                    </form>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="inner">
                <select class="link">
                    <option>友情链接</option>
                    <option value="#" target="_blank">奶茶店加盟</option>
                </select>
                <label class="txt">@2014-2015</label>
                <a class="sub-link" href="/index" target="_blank">加盟官方网站</a>
                <label class="txt">版权所有</label>
                <a class="sub-link" href="#" target="_blank">站长统计</a>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="${base}/js/jquery.min.js"></script>
<script type="text/javascript" src="${base}/js/jquery.slide.js"></script>
<script type="text/javascript" src="${base}/js/index.js"></script>
<script type="text/javascript">
	#if($obj && $obj == 200)
		alert("提交成功,您的加盟信息我们已经收到,我们将尽快与您联系!");
	#end
	function checkData(){
		var name = $("#name").val();
		if($.trim(name) == ""){
			alert("姓名不能为空!");
			return false;
		}
		var phone = $("#phone").val();
		if($.trim(phone) == ""){
			alert("联系电话不能为空!");
			return false;
		}
		var address = $("#address").val();
		if($.trim(address) == ""){
			alert("联系地址不能为空!");
			return false;
		}
		document.getElementById("form").submit();
	}
</script>
</html>